html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: #111111;
    display: flex;
    color: #dddddd;
}

.left_ui_container {
    height: 100%;
    width: 150px;
    background: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left_ui_row {
    display: flex;
}

.play_icon {
    width: 0; 
    height: 0; 
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 24px solid #dddddd;
    margin: 10px;
    cursor: pointer;
}

.play_icon:hover {
    border-left: 24px solid #35a13a;
}

.pause_icon {
    width: 0px;
    height: 29px;
    border-style: double;
    border-width: 0px 0px 0px 20px;
    border-color: #dddddd;
    margin: 10px;
    cursor: pointer;
}

.pause_icon:hover {
    border-color: #a52e2e;
}

.fps {
}

.restart {
    cursor: pointer;
}

.display_is_paused {
    position: absolute;
    width: 300px;
    top: 100px;
    left: calc(50% - 200px);
    color: #a52e2e;
    font-size: 52px;
    font-weight: bold;
    pointer-events: none;
}